body {
    margin: 5px;
    padding: 0;
    font-family: sans-serif;
}
div.fullview {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
}
div.fullview > div {
    display: table-cell;
    vertical-align: middle;
}
div.fullview > div > * {
    display: inline-block;
    margin: auto;
}

img.plot {
    display: inline-block;
    margin: 0;
    max-width: 100%;
}
div.fullview img {
    max-width: 100vh;
    max-height: 100vh;
    height: auto;
    width: auto;
}
div.cursor {
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    pointer-events: none; /* otherwise cursor lines will intercept mouse movements */
}
div.cursor.hline {
    height: 0px;
}
div.cursor.vline {
    width: 0px;
}

/* Keybindings table */
div.fullview table.keys {
    border-spacing: 5px;
}
div.fullview table.keys th {
    font-family: monospace;
    background-color: #999999;
    padding: 5px 10px;
}

/* Structure */
h1 {
    font-size: 18pt;
    font-weight: normal;
}
hr {
    border: 1px solid #333333;
}
.hspace {
    display: inline-block;
    width: 1em;
}
.vspace {
    display: block;
    height: 1em;
}
.columns {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.columns > .column {

}
.expandable > .title {
    border-top: 1px solid #333333;
    background-color: #DDDDDD;
    cursor: pointer;
    padding: 2pt;
}

/* Ranges */
.rangeCounter {
    display: inline-block;
}

/* Conditionals */
.checkboxes {
    display: block;
    margin: 0 0 10px 0;
}

/* Calendars */
.calendar, .forecast {
    display: inline-block;
    padding: 5px 0;
}
.forecast span {
    display: inline-block;
    text-align: center;
    padding: 2px;
    color: #666666;
}
.forecast span.mode {
    color: #000000;
}
.forecast span.lead {
    width: 5em;
}
.forecast span.valid {
    width: 10em;
}

/* Form elements */
input, button, select {
    margin: 1pt;
    padding: 1pt 2pt;
    text-align: center;
}
input[type=checkbox] {
    vertical-align: middle;
}
button {
    padding: 1pt 5pt;
}
label > select, label > input, label > button {
    margin-left: 5pt;
}

